# Ignore environment variables
.env
client_secret.json
token.pickle
spotify_tokens.json
oauth.json
browser_headers.json
backend/.headers_import_once.txt
backend/data/yt_search_cache.json

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore virtual environments
venv/